.form-line {
  line-height: 70px;
}

.form-line button {
  vertical-align: bottom;
}

.api-form {
  margin-bottom: 20px;
}

.date, .balance {
  display: table-cell;
  width: 100px;
}

.input-box {
  display: inline-block
}

.table-area {
  height: 400px;
  overflow-y: auto;
}